
/*
font-family: 'Ubuntu', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Montserrat-Black', sans-serif;
  line-height: 1.5;
  font-size: 5rem;
  color: #FFFFFF;
}

h2{
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.title{
  background-color: #781CB5;
}

.title .container-fluid{
  padding: 0 15% 3% 15%;
}

/* Navbar Area */
.navbar{
  padding: 2rem 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 1rem;
}

/* Download Prompt Area */
.dl-prompt{
  margin: 6rem 0;
}

.dl-btn{
  margin: 1rem 1rem 0 0;
}

/* Image Area */
.title-image{
  width: 60%;
  display: block;
  margin: 5rem auto -20rem auto;
  transform: rotate(20deg);
}

/* Features Area */
.features{
  background-color: white;
  position: relative;
  z-index: 1;
}

.features .container-fluid{
  width: 80%;
}

.features .col-xl-4{
  text-align: center;
  padding: 7rem 0;
}

.features .fas{
  color: #781CB5;
  padding: 3rem;
  font-size: 5rem;
  transition: 0.4s;
}

.features .fas:hover{
  color: #BB00FF;
}

.features p{
  color: #8F8F8F;
  padding: 0 20%;
}

/* Testimonials Section */
.testimonials{
  background-color: #BB00FF;
  text-align: center;
  color: #FFFFFF;
  padding: 7rem;
}

.testimonials .container-fluid .carousel-item{
  padding: 0 15rem;
}

.testimonial-image{
  border-radius: 100%;
  margin: 1.5rem;
  width: 10rem;
}

.testimonials em{
  font-size: 1.5rem;
}

/* Press Section */
.press{
  background-color: #BB00FF;
  text-align: center;
  padding-left: 15rem;
  padding-right: 15rem;
  padding-bottom: 5rem;
}

.press img{
  width: 10rem;
  padding-top: 3rem;
}

/* Pricing Section */

.pricing{
  text-align: center;
  padding: 7rem;
  padding: 5% 20%
}

.pricing .card{
  margin: 1rem;
}

.pricing .card .btn{
  margin-top: auto;
}
