
/*
font-family: 'Ubuntu', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
h1{
  font-family: 'Montserrat-Black', sans-serif;
  line-height: 1.5;
  font-size: 3rem;
}

#title{
  background-color: #ff4c68;
}

#title .container-fluid{
  padding: 0 15% 3% 15%;
}

.navbar{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
